<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Get Sangeet</title>
</head>
<body>
     <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="{{url_for('sangeet')}}">
          <img src="{{ url_for('static', filename='images/web_logo.png') }}" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="{{url_for('sangeet')}}">Get Sangeet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
           
            <li class="nav-item link-info">
              <a class="nav-link" href="{{url_for('about_details')}}">About</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('contact_details')}}">Contact</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login_page')}}">Login</a>
           </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

    <!-- about -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <img class="rounded" src="{{ url_for('static', filename='images/gallery2.jpg') }}" alt="">
            </div>
            <div class="col">
                <h1 class="text-center p-3">About Us</h1>
                <p class="text-left display-5 p-2">Since in older days there are application that use manual searching by scrolling the playlist and spend long hours to listen best out of it. Here we come that provides you best recommendation that sooth you completely and make you feel relax and tension free. It is open to all so utilise it well and always entertain your feedback.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-left display-5 p-2 pt-5">It provides recommendation based on various feature such as recommendation based on manual search and get top recommended songs, recommendation based on emotion using face recognition technology and gives best songs, recommended using text on mood with more elastic and good result around.</p>
            </div>
            <div class="col">
                <img class="rounded" src="{{ url_for('static', filename='images/gallery3.jpg') }}" alt="">
            </div>
        </div>
    </div>
    <!--footer start-->
    <footer class="mt-5">
        <div class="footer-wrap">
        <div class="container first_class">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <h3>BE THE FIRST TO KNOW</h3>
                <p>Get all the latest information on Sangeet Services, Events, Jobs
                  and Fairs. Sign up for our newsletter today.</p>
              </div>
              <div class="col-md-4 col-sm-6">
              <form class="newsletter">
                 <input type="text" placeholder="Email Address"> 
                 <button class="newsletter_submit_btn" type="submit"><i class="fa fa-paper-plane"></i></button>  
              </form>
              
              </div>
              <div class="col-md-4 col-sm-6">
              <div class="col-md-12">
                <div class="standard_social_links">
              <div>
                <li class="round-btn btn-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>
      
                </li>
                <li class="round-btn btn-linkedin"><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
      
                </li>
                <li class="round-btn btn-twitter"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      
                </li>
                <li class="round-btn btn-instagram"><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
      
                </li>
                <li class="round-btn btn-whatsapp"><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
      
                </li>
                <li class="round-btn btn-envelop"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      
                </li>
              </div>
            </div>  
              </div>
                <div class="clearfix"></div>
              <div class="col-md-12"><h3 style="text-align: right;">Stay Connected</h3></div>
              </div>
            </div>
        </div>
        <div class="copyright"> Copyright 2023 | All Rights Reserved by Sangeet.</div>
        </div>
    </footer>
    <!--footer end-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Font Awesome 5 links-->
    <script src="https://kit.fontawesome.com/fddf5c0916.js" crossorigin="anonymous"></script>
    
      
</body>
</html>